<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
      {%block title%}
        Base Template
      {%endblock%}
    </title>
     {%block link%}

     {%endblock%}
</head>
<body>
<table width="100%" border="1">
    <tr>
        <td colspan="6">
            <center>
        <h1>Trainee</h1>
    </center>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a href=http://127.0.0.1:8000/trainee/list/>list</a>
            </br>
            <a href=http://127.0.0.1:8000/trainee/insert/>Insert</a>
            </br>

        </td>
        <td colspan="4">
            {%block content%}
            {%endblock%}
        </td>
    </tr>
    <tr>
        <td colspan="6" align="center"></td>
    </tr>
</table>

</body>
</html>